div{
    background-color:rgb(132, 59, 151);
    padding: 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-top: -7px;
}
.div1{
    background-color:rgb(216, 146, 233);
    height: 20px;
}
p{
    padding-right: 15px;
    padding-top: -5px;
    margin-top: -5px;
    display: inline-block;
}
.div2{
    background-image: url(../pur2.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -5px;
}
.div3{
        background-color:rgb(216, 146, 233);
}
.div3 div{
    height: 370px;
    width: 300px;
    display: inline-block;
    margin: 30px 30px 30px 30px;

}

